<img src="{{ "style-guide/assets/img/svg/" }}mv-logo.svg" height="40">
<img src="https://via.placeholder.com/200x200" alt="placeholder logo"/>


<div class="main-nav">
<nav>

   <ul>
   
       <li>
           <a href="#text">Text</a>
       </li>
       <li>
           <a href="#ti">Text + Images</a>
       </li>
       <li>
           <a href="#colours">Colours</a>
       </li>
       <li>
           <a href="#usage">Logo Usage</a>
       </li>
       <li>
           <a href="#links">Links</a>
       </li>
       
   </ul>
   
</nav>
</div>
