<div class="main-nav">
   
   <img class="mv-logo" src="{{ site.url }}/assets/img/mv-logo.svg" height="150">
   
      <nav>

         <ul>
   
            <li>
               <a href="#text">Text</a>
            </li>
            <li>
               <a href="#ti">Text + Images</a>
            </li>
            <li>
               <a href="#colours">Colours</a>
            </li>
            <li>
               <a href="#usage">Logo Usage</a>
            </li>
            <li>
<!--                <a href="{{ site.url }}/design">Design</a> -->
            </li>
       
         </ul>
   
      </nav>
</div>
