.main-nav {
  outline: 1px solid black;
  background-color: $base-color;
  flex-flow: row wrap;
  display:flex;
  justify-content: space-between;
  width:100%;
//   height:150px;
}

nav {
 margin: auto; 
}

nav > ul {
  margin: auto;
  padding: 0;
  display: inline;
  list-style-type: none;
}

.mv-logo {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
